.row
  .col.col_12
    %h2 Edycja rachunku
    -unless @payment.blank?
      = semantic_form_for @payment, :url=> pro_save_account_path(params[:url_token]) do |form|
        = form.inputs :name => '', :id=> 'payment_detail' do
          = form.input :r_account_owner
          = form.input :r_account_no

        = form.buttons :name=> '' do
          = form.commit_button 'Zmień rachunek'
          %li
          lub #{link_to 'zamknij', '', :class=> 'close'}
    - else
      .bar-notice.notice-error
        %h6
          Nie masz uprawnień do zmiany rachunku. #{link_to 'Zamknij', '', :class=> 'close'}

:javascript
  Cufon.replace('h1, h2, h3', { fontFamily: 'Myriad Pro' });
  Cufon.now();
  $('.close').bind('click', function(){
  parent.$.fn.colorbox.close()
  });